---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: mcp-jwt-auth
  namespace: default
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: store-mcp-server-public

  jwt:
    optional: false
    providers:
      - name: casdoor
        issuer: "https://casdoor.cloudwithme.dev"
        audiences:
          - "55af642109d62315da60"
        remoteJWKS:
          uri: "http://casdoor.default.svc.cluster.local:8000/.well-known/jwks"
